@{
    ViewData["Title"] = "Home Page";
}
@using 雨季鳄龟交易分享平台.Models

@{
    List<YuJi_Sell> SellList = ViewBag.SellList;
}

<a href="/Home/Add/">我也要卖龟</a>


@foreach (var item in SellList)
{
    <div style="width:100%;height:1px;border:solid 1px #000000;"></div>
    <div>
        <h4>@item.yj_Title</h4><span style="color:red">￥@item.yj_price</span>
        @item.yj_Desc
    </div>
    <a href="/Home/DetailInfo/@item.yj_Id">详情</a>
    @if (item.yj_isDeleteBtn)
    {
        <a href="/Home/DeleteInfo/@item.yj_Id">删除</a>
        <br />
        <i style="color:#087bf8">@item.yj_Uip</i> <i>@item.yj_Time</i>
    }
    else
    {
        <i>@item.yj_Time</i>
    }
}
